
body{

    background-color: #ffc4a4;
}

header{
border: 5px solid green; 
  border-radius: 10px; 
  padding: 5px; 
  
  
  text-align: center;
  margin: 100px auto;
  margin-bottom: 10vw;
  background-color: #eb6424;
  color: #243a05;
  font-size: 5vw;
  min-width: 400px;
  max-width: 800px;
  width: 70%;
  
 
}

  button {
    position: absolute;
    top: 95%;
    background-color: #fa9500;
    border: 5px solid #eb6424; 
  border-radius: 10px; 
    color: white;
    text-align: center;

    display: inline-block;
    font-size: 20px;
    animation: fadeIn 3s;

    
}


div{
background-color: #babd8d;
font-size: 3vw;
    border: 5px solid green; 
  border-radius: 10px; 
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: center;
  margin: 100px auto;
  color: #243a05;
  font-size: 30px;
  min-width: 400px;
  max-width: 800px;
  width: 0%;
  font-size: 3vw;
  margin-top: 15vw;



}

#submit{
   position: fixed;
   right: 0;
   top: 95%;
    background-color: green;
    border: 5px solid #eb6424; 
  border-radius: 10px; 
    color: white;
    text-align: center;
 
    display: inline-block;
    font-size: 20px;
}

#jennyJenny{
  position: fixed;
  right: 50%;
  top: 95%;
   background-color: green;
   border: 5px solid #eb6424; 
 border-radius: 10px; 
   color: white;
   text-align: center;

   display: inline-block;
   font-size: 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
  }



button:hover {opacity: 0.5}

