body{
    background-color: green;
}

div{
background-color: blue;
color: white;
font-size: 5vw;
padding: 5vw;
margin: 2.5vw;
border: yellow 5px solid;
}

.div-wrapper{
    display: grid;
    grivscode-file://vscode-app/Users/trewmundy/Desktop/Visual%20Studio%20Code.app/Contents/Resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmld-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

@media screen and (max-width: 900px){
    body{
    background-color: red;}

    .div-wrapper{
        display: flex;
        flex-direction: column;
    }
}