body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    
}


#box2{
    animation-duration: 4s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;   
}

@keyframes box2move{
from{
    margin-left: 100%;
}
50%{
    margin-top: 50%;
    background-color: red;
}
to{
    margin-left: 0%;

  


}
}



#box1:hover{
    background-color: purple;
}