* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
  background-image: linear-gradient(hwb(0 0% 100% / 0.084), white, hwb(0 0% 100% / .084));
}

article {
  width: 210mm;
  height: 297mm;
  margin: 0px auto;
  position: relative;
  
  
}

address {
 
    position: absolute;
    bottom: -20mm;
    right: 20mm;
  
}

h1 {
  background: url("logo.png") repeat;
  filter: text-shadow(20px);
  position: absolute;
  top: -20mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;;
}

/* Your CSS below here */
.topimagecss{
  width: 100%
  

}
.bottomimgcss{
  width: 100%;
}


