button{
background-color: seagreen;
padding: 10px;
}

.red{
    background-color: red;

}

.blue{
    background-color: red;
}

#btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
}